// Natural colors
$white: white;
$white-smoke: whitesmoke;
$light: #b9b9b9;
$grey: #9d9d9d;
$dark: #262626;
$red: red;
$pink: #efa8e4;
$darkgray: darkgray;
$footer-bg-color: #2a1715;

// Bacground colors

// Button colors

// Text colors

// Border colors

// Fonts

$phone: 400px;
$phone-wide: 480px;
$phablet: 560px;
$tablet-small: 700px;
$tablet: 768px;
$tablet-lb: 769px;
$tablet-wide: 1025px;
$tablet-w-wide: 1150px;
$desktop: 1248px;
$desktop-wide: 1440px;
