.footer {
  height: 100px;
  background-color: $dark;

  overflow: hidden;
  @include flex-main(row, center, center);
  &__info {
    padding-top: 20px;
    @include font("sans-serif", 13px, 600, $white-smoke);
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
  }
  &__logo {
    width: 150px;
    padding-top: 20px;
    height: 150px;
  }
}
