.greet {
  min-height: 100vh;

  padding: 50px 20px;

  &__row-content {
    min-height: 400px;
    padding: 5px;
  }
  &__image-wrapper {
    @include flex-main();
  }
  &__row-image {
    @include flex-main();
    padding-right: 0px;
    @include media-q($desktop) {
      @include flex-main(row, flex-start, center);
      padding-right: 10px;
    }
  }

  &__column {
    height: 100%;
  }

  &__subtitle {
    @include font("sans-serif", 40px, 500, $dark);
    font-style: italic;
    @include flex-main(row, flex-start, flex-end);
    margin-bottom: 25px;
  }
  &__title {
    @include font("sans-serif", 60px, 600, $pink);

    line-height: 50px;
    font-style: italic;
    @include flex-main(row, flex-start, center);
    margin-bottom: 20px;
    &:not(:first-of-type) {
      align-items: flex-start;
    }
  }
  &__text {
    @include font("sans-serif", 20px, 500, $dark);
    line-height: 25px;
    @include flex-main(row, flex-start, flex-start);

    margin-bottom: 70px;
  }
  &__card-title {
    @include font("sans-serif", 30px, 600, $pink);
    text-align: center;
    font-style: italic;
    @include flex-main(row, center, center);
  }
  &__card-text {
    @include font("sans-serif", 20px, 500, $dark);
    line-height: 25px;
    @include flex-main(row, center, flex-start);
    text-align: start;
  }
}
