.header {
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
  background-attachment: inherit;
  background-position: center;
  background-size: cover;
  animation: none;
  @include media-q($tablet-w-wide) {
    background-attachment: fixed;
    animation: bg 10s linear infinite alternate;
  }
}
@keyframes bg {
  0% {
    background-size: 160%;
  }
  100% {
    background-size: 150%;
  }
}
