.materials {
  background-color: $white-smoke;
  padding: 50px 20px;
  &__title {
    @include font("sans-serif", 30px, 600, $pink);
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid $pink;
  }
  &__text {
    @include font("sans-serif", 18px, 500, $dark);
    font-style: italic;
    text-align: start;
  }
  &__box {
    padding: 0px;
    padding: 10px;
    &:first-of-type {
      @include flex-main(row, center, center);
    }
    @include media-q($tablet-wide) {
      padding: 0px;
      padding: 10px;
      &:first-of-type {
        @include flex-main(row, flex-start, center);
      }
    }
  }
}
