.sale {
  min-height: 50vh;
  background-image: url(../images/sale.jpg);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 30px 50px;
  @include media-q($tablet) {
    background-attachment: fixed;
  }

  &__title {
    @include font("sans-serif", 60px, 600, $pink);
    font-style: italic;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 2px solid $pink;
    padding-top: 30px;
  }
  &__subtitle {
    @include font("sans-serif", 30px, 500, $white-smoke);
    font-style: italic;
    text-align: center;
    @include media-q($phone) {
      @include font("sans-serif", 55px, 600, $white-smoke);
      font-style: italic;
      text-align: center;
    }
  }
  &__pinked {
    color: $pink;
    text-decoration: underline;
  }
  &__button {
    background-color: $pink;
    border-radius: 10px;

    &:hover {
      background-color: $hovered-btn;
    }
  }
}
