.stages {
  background-color: $white-smoke;
  padding: 50px 20px;
  &__subtitle {
    @include font("sans-serif", 40px, 600, $dark);
    font-style: italic;
    @include flex-main(row, center, flex-end);
    margin-bottom: 25px;
  }
  &__title {
    @include font("sans-serif", 40px, 600, $pink);
    font-style: italic;
    @include flex-main(row, center, center);
  }
  &__box {
    @include flex-main(column, center, center);
    text-align: center;

    padding: 10px;
  }
  &__row {
    border: 3px ridge $pink;
    &:first-of-type {
      margin-bottom: 20px;
    }
  }
  &__link {
    color: $pink;
  }
  &__text {
    @include font("sans-serif", 15px, 600, $dark);
    font-style: italic;
    text-align: start;
    &:nth-child(3) {
      border-bottom: 2px solid $pink;
    }

    @include media-q($tablet-wide) {
      @include font("sans-serif", 15px, 600, $dark);
      font-style: italic;
      text-align: start;
      &:nth-child(3) {
        border-bottom: none;
      }
    }
  }
  &__context-box {
    @include flex-main(column, center, center);

    padding: 10px;
  }
  &__image {
    width: 100px;
  }
  &__name {
    @include font("sans-serif", 25px, 600, $pink);
  }
}
