.content-box {
  padding: 40px 20px 20px 20px ;
  @include media-q(374px) {
    padding: 60px 20px 20px 20px ;
  }
  &__content {
    // height: 800px;
  }
  &__list {
    margin: 0px;
    padding-bottom: 20px;
  }
  &__button {
    width: 230px;
    background-color: $pink;
    border-radius: 10px;
    @include media-q($phone) {
      width: 300px;
      background-color: $pink;
      border-radius: 10px;
    }
    &:hover {
      background-color: $hovered-btn;
    }
  }
  &__subtitle {
    @include font("sans-serif", 28px, 500, $white);
    font-style: italic;
    text-shadow: 0  0 20px #000;
    @include media-q($phone-wide){
      @include font("sans-serif", 40px, 500, $white);
      text-shadow: none;
      font-style: italic;

    }
  }
  &__title {
    @include font("sans-serif", 40px, 600, $pink);
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 0  0 5px #fff;
    @include media-q($phone-wide){
      @include font("sans-serif", 60px, 600, $pink);
      text-shadow:none;
      font-style: italic;
      margin-bottom: 40px;

    }
  }
  &__list-item {
    @include font("sans-serif", 20px, 500, $white);
    line-height: 25px;
  }
}
.active {
  animation: addBlink 1.5s linear alternate infinite;
}

@keyframes addBlink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
