.form {
  border-radius: 10px;
  @include flex-main(column, center, center);
  &__button {
    width: 300px;
    background-color: $pink;
    border-radius: 10px;

    &:hover {
      background-color: purple;
    }
  }
  &__input {
    width: 80%;
    padding-left: 20px;
    @include font("sans-serif", 25px, 600, $dark);
    font-style: italic;
    &::placeholder {
      @include font("sans-serif", 15px, 500, $grey);
      font-style: italic;
    }
  }
  &__title {
    @include font("sans-serif", 35px, 600, $pink);
    font-style: italic;
    text-align: center;
  }
}
