.menu-box {
  min-height: 80px;
  box-shadow: 0 0 0 3px $pink, 0 0 0 6px $footer-bg-color;
  &__nav-list {
    @include flex-main(row, space-around, center);
    padding-top: 5px;
    // margin-right: 40px;
    @include media-q($phone-wide) {
      @include flex-main(row, center, center);
      padding-top: 5px;
    }
  }

  &__link {
    @include font(sans-serif, 15px, 600, $white-smoke);
    font-style: italic;
    text-shadow: 0 0 5px $dark;
    letter-spacing: 0.4px;
    margin: 5px 0;
    display: flex !important ;
    align-items: center;
    justify-content: center;
    @include transition-basic;
    border: 2px solid $pink;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    min-height: 60px;
    background-color: rgba($pink, $alpha: 0.5);
    &:hover {
      color: $white-smoke;
    }
    @include media-q($phone-wide) {
      @include font(sans-serif, 15px, 600, $white-smoke);
      font-style: italic;
      text-shadow: 0 0 5px $dark;
      letter-spacing: 0.4px;
      margin: 0px;
      @include transition-basic;
      border: none;
      border-radius: 0px;
      background-color: transparent;
      width: auto;
      min-height: auto;

      &:hover {
        color: $pink;
      }
    }
  }
  &__logo {
    padding-top: 10px;
    height: 150px;
    width: 150px;
  }
  &__logo-box {
    @include flex-main(row, center, center);
    height: 70px;
    width: 40px;
    overflow: hidden;
    margin-top: 20px;
    @include media-q(1165px) {
      margin-top: 5px;
    }
  }
  &__socials {
    @include flex-main;
  }
  &__social-logo:not(:last-of-type) {
    margin-right: 20px;
  }
  &__social-logo {
    padding: 5px;
    border-radius: 30%;
    background-color: $pink;
    @include transition-basic;
    &:hover {
      background-color: $footer-bg-color;
    }
  }
  &__item {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-radius: 10px;
    @include transition-basic;
    &:hover {
      border-color: $pink;
    }
  }
  &__nav {
    @include flex-main;
  }
}
